/* ------------------------------------
GLOBALS
------------------------------------ */

/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Nunito', sans-serif; */

body {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

/* ------------------------------------
NAV
------------------------------------ */

/* ------------------------------------
#home
------------------------------------ */

/* ------------------------------------
main
------------------------------------ */

/* ------------------------------------
#portfolio
------------------------------------ */

/* ------------------------------------
#resume
------------------------------------ */

/* ------------------------------------
#contact-me
------------------------------------ */

/* ------------------------------------
#footer
------------------------------------ */

/* ------------------------------------
MEDIA QUERIES min-800 max-1600
------------------------------------ */
